*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    padding: 1vh;
background-color: #D9DCD6
}
.contenedor{
    top: 10vh;
position: absolute;
left: 5vw;

}
.titulo{
    color: #16425B;
}
.sesion1{
    position: absolute;
    width: 12vw;
    height: 2.5vh;
    color: #16425B;
    
}
.abrigos{
    color: #16425B;
   
}
.camisetas{
    color: #16425B;
  
}
.pantalones{
    position: absolute;
    border-radius: 5px;
    background-color: aliceblue;
    width: 12vw;
    height: 2.5vh;
    border: 2px solid #16425B ;
    color: #16425B;
    
   
}
.carrito{
    color: #16425B;
    
}
.texto{
    color: #16425B;
    
}
.se4{
    color: #16425B;
    background-color: aliceblue;
    border: 2px solid  #16425B;
    border-radius: 2vw;
    width: 75vw;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 11.5vw;
    padding: 1vw;
}

.abrigo1{
    
    padding: 1vh;
    border-radius: 2vw;
    width: 15vw;
    height: 25vh;
}
.abrigo2{
    position: absolute;
    left: 20vw ;
    padding: 1vh;
    border-radius: 2vw;
    width: 15vw;
    height: 25vh;
}.abrigo3{
    margin-top: 0vh ;
    position: absolute;
    left: 78vh;
    padding: 1vh;
    border-radius: 2vw;
    width: 15vw;
    height: 25vh;
}
.abrigo4{
    position: absolute;
    padding: 1vh;
    border-radius: 2vw;
    width: 15vw;
    height: 25vh;
    left: 56vw;
    margin-top: 0;
}
.valor1{
    background-color:#D9DCD6 ;
    position: absolute;
    width: 15vw;
    height: 8vh;
    border: 2px solid  #16425B ;
    border-radius: 0.5vw;
}
.agregar1{
    position: absolute;
    left: 9vw;
   
}
.valor2{
    background-color:#D9DCD6 ;
    left: 20vw;
    position: absolute;
    width: 15vw;
    height: 8vh;
    border: 2px solid  #16425B ;
    border-radius: 0.5vw;
}
.valor3{
    background-color:#D9DCD6 ;
    left: 38vw;
    position: absolute;
    width: 15vw;
    height: 8vh;
    border: 2px solid  #16425B ;
    border-radius: 0.5vw;
}
.valor4{
    background-color:#D9DCD6 ;
    left: 56vw;
    position: absolute;
    width: 15vw;
    height: 8vh;
    border: 2px solid  #16425B ;
    border-radius: 0.5vw;
}
.abrigo5{
    position: absolute;
    padding: 1vh;
    border-radius: 2vw;
    width: 15vw;
    height: 25vh;
    left: 1vw;
    top: 41vh;
}
.valor5{
    top: 67vh;
    background-color:#D9DCD6 ;
    left: 1vw;
    position: absolute;
    width: 15vw;
    height: 8vh;
    border: 2px solid  #16425B ;
    border-radius: 0.5vw;
}